* {
  outline: 1px solid orange;
}

#ingredList {

}

#leftSide {

}

#rightSide {

}

#delDiv {
  display:inline-block;

}
#par1{
  font-size: 23px;
}
#par2 {
      margin-top: -16px;
}
#topLogo {
  display: inline-block;
}
#pint {
  padding-right: 15px;
}
.links{
  float: right;
  margin-top: 23px;

}
